@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Titillium+Web);

// Body Content container ****************
body
  {
  background: url('/Images/movielarge_wp.jpg') no-repeat center border-box fixed;
  //background: url('/Images/bubbles_wp.jpg') no-repeat center border-box fixed;
  background-size: cover;
  padding-bottom: 60px;
  }

#main
  {
    font-family: 'Titillium Web', sans-serif;
    //font-family: 'Bree Serif', serif;

  div.row
    {
      background: url('/Images/blackframe.jpg') repeat-x border-box;
      background-position: 0 0;
      background-size: contain;
      padding-top: 30px;
      height: auto;
    }

// Header Content container **************
    #historywrapper
      {

      .navbar.navbar-default
        {
          margin-bottom: 0;
          margin-left: -15px;
          margin-right: -15px;
          height: 70px;
          background-image: none;
          background: -moz-linear-gradient(top, rgba(36,161,151,0.47) 0%, rgba(42,160,152,0.47) 14%, rgba(46,160,153,0.47) 24%, rgba(66,158,155,1) 69%,
            rgba(79,157,157,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(36,161,151,0.47) 0%,rgba(42,160,152,0.47) 14%,rgba(46,160,153,0.47) 24%,rgba(66,158,155,1) 69%,
            rgba(79,157,157,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(36,161,151,0.47) 0%,rgba(42,160,152,0.47) 14%,rgba(46,160,153,0.47) 24%,rgba(66,158,155,1) 69%,
            rgba(79,157,157,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7824a197', endColorstr='#4f9d9d',GradientType=0 ); /* IE6-9 */
        }

      .navbar-brand
        {
          margin-left: 10px;
        }

      .navbar-header
        {
          @media all and (max-width: 768px)
            {
              width: 30%;
            }
        }

      div.nav.navbar-nav.navbar-right
        {
          @media all and (max-width: 768px)
            {
              width: 20%;
              position: absolute;
              right: 110px;
              top: -5px;

              @media all and (max-width: 600px)
                {
                  right: 130px;
                }
            }
        }

      ul.dropdown-menu
        {
          background-color: rgb(51,51,51);
          border-color: rgb(51,51,51);
          font-family: 'Bree Serif', serif;
          font-size: 1.1em;
          font-weight: 600;

          > li:first-child
            {
              color: #dadada;

            > span
              {
                color: red;
              }
            }

          > li
            {
              padding-left: 15px;
            }

          > li > span
            {
              font-size: 0.9em;
            }

          > li.btn
            {
              margin: 3px 125px;
            }

          @media all and (max-width: 768px)
            {
              position: absolute;
              width: 350px;
              top: 65px;
              left: -156px;
            }

        #dropHistoryContent
          {
            height: 500px;
            width: 346px;
            overflow-y: auto;
            background: #dadada;

          span.droptitle
            {
              font-variant: small-caps;
              font-size: 1.15em;
              padding-left: 10px;
              display: block;
            }

          span.droptime, span.dropstatus
            {
              font-size: 0.75em;
              padding-left: 5px;
              display: inline-block;
            }
          span.btn.btn-link
            {
              color: red;
              display: inline;
              margin-left: 20px;
            }
          }
        }

      .navbar-text
        {
          color: rgb(51, 51, 51);
          padding-left: 15px;
          padding-top: 5px;
          font-size: 1.5em;

          @media all and (max-width: 768px)
            {
              display: none;
            }
        }

      .dropdown > button
        {
          margin: 15px 20px;
          &:active,
          &:focus
          //&:hover
           {
            -webkit-box-shadow: 0px 0px 8px 4px rgba(158,63,158,0.67);
            -moz-box-shadow: 0px 0px 8px 4px rgba(158,63,158,0.67);
            box-shadow: 0px 0px 8px 4px rgba(158,63,158,0.67);
            outline: 0;
          }
        }

      }

// Modal container ***********************
  #MovieModal {
    //font-family: 'Titillium Web', sans-serif;
    font-family: 'Bree Serif', serif;

    #MovieModalLabel {
      font-family: 'Titillium Web', sans-serif;
      font-size: 1.75em;
      font-variant: small-caps;
      color: #f3f3f3;
    }

    .modal-body p
      {
        font-size: 1.1em;
        font-weight: 700;
        margin-bottom: 0.3em;
        @media all and (max-width: 600px)
          {
            font-size: 0.8em;
          }

        > span
          {
            font-size: 1.25em;
            font-weight: 300;
            @media all and (max-width: 600px)
              {
                font-size: 0.95em;
              }
          }
      }

      .modal-header, .modal-footer
        {
          background-color: rgb(51,51,51);
        }
      .modal-header>button>span
        {
          background-color: #f3f3f3;
        }

      #mmImage img
        {
          height: 8em;
        }

  }

// Main Content container ****************
  #Content
    {
      padding-top: 40px;
      font-family: 'Bree Serif', serif;
      font-size: 2em;
      color: #043d32;
    }

// Footer container **********************
  footer
    {
      background-image: none;
      background-color: rgb(51, 51, 51);
      font-family: 'Bree Serif', serif;
      font-size: 1.2em;
      color: #fff;
      text-align: center;

      p:first-child
        {
          margin-bottom: -15px;
          padding-top: 10px;
          font-size: 1.4em;

          @media all and (max-width: 768px)
            {
              margin-bottom: 0;
            }
        }

      p a
        {
          color: inherit;
          text-decoration: none;
          display: inline-block;
        }

    }
  }
// EOF
