#dropHistoryContent {
  height: 300px;
  width: 300px;
  overflow-y: auto;
  background: #dadada;
}


/*
#movieCarousel {
  width: 98%;
  height: 350px;
  background-color: #dadada;
  align-content: center;
  text-align: center;
  margin: 10px auto;
  padding: 10px 9px;
}
#innerCarousel {
  width: 669px;
  height: 330px;
  padding: 0;
  border: 1px dotted green;
  margin: 0 auto;
}

#innerCarousel div.item {
  width: 215px;
  height: 320px;
  margin: 5px 3px;
  padding: 1px;
  overflow: hidden;
  border-radius: 8px;
}

*/
